<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
<link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

<div class = "jumbotron">
  <div class = "container">
    <h1> Choisissez un logement sur le site "https://www.leboncoin.fr" </h1>
    <div class = "row">
      <div class = "col-xs-12 col-sm-8 col-md-6">
        <form method = "get" action = "/process">
          <div class = "row">
            <div class = "col-xs-8 col-sm-9">
              <input type="text" class="form-control"
              name="lbcUrl" placeholder="https://www.leboncoin.fr">
            </div>
            <div class = "col-xs-4 col-sm-3">
            <button type = "submit" class="btn btn-default"> Go ! </button>
            </div>
            </div>
          </form>
       </div>
      </div>
    </div>
</div>




<% if ( typeof error !== 'undefined' ) { %>


    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong>
        <p>
            <%= error %>
        </p>
    </div>

    <% }
if ( typeof data !== 'undefined' ) { %>

        <div class="row">

            <div class="col-xs-12 col-md-4 mg-b-10">
                <div class="data-container">
                    <div class="data-icon">
                    </div>
                    <div class="data-title text-right">Informations concernant ce logement</div>
                    <div class="data-value">
                        <div class="data-value-label">Ville : </div>
                        <div class="data-value-content">
                            <span class="upper"><%= data.lbcData.city.replace( /\_/g, '-' ) %></span>
                        <span> (<%= data.lbcData.postalCode %>)</span>
                    </div>
                    <div class="data-value-label">Prix : </div>
                    <div class="data-value-content">
                        <span><%= data.lbcData.price %> €</span>
                        <span> (<%= Math.round(data.lbcData.price/data.lbcData.surface) %> €/m<sup>2</sup>)</span>
                    </div>
                    <div class="data-value-label">Surface : </div>
                    <div class="data-value-content">
                        <span><%= data.lbcData.surface %> m<sup>2</sup></span>
                    </div>
                    <div class="data-value-label">Type : </div>
                    <div class="data-value-content">
                        <span class="first-upper"><%= data.lbcData.type %></span>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="col-xs-12 col-md-4 mg-b-10">
            <div class="data-container">
                <div class="data-icon">
                    </div>
                    <div class="data-title text-right">Prix moyens</div>
                    <div class="data-subtitle">
                        <%= data.lbcData.city.replace( /\_/g, '-' ) %>
                    </div>
                    <div class="data-value">
                        <div class="data-value-label">Prix au m<sup>2</sup> (appartement) : </div>
                        <div class="data-value-content">
                            <% if ( data.lbcData.type === 'appartement' ) { %>
                    <% }%>
                        <span><%= data.maData.priceAppart %> €</span>
                </div>
            </div>
            <div class="data-value">
                <div class="data-value-label">Prix au m<sup>2</sup> (maison) : </div>
                <div class="data-value-content">
                    <% if ( data.lbcData.type !== 'appartement' ) { %>
                        <% }%>
                            <span><%= data.maData.priceHouse %> €</span>
                </div>
            </div>
        </div>
		
        </div>

		
		
		<div class="col-xs-12 col-md-4 mg-b-10">
            <div class="data-container pad-l-10 pad-r-10">
                <div class="data-title text-center data-result text-xlarge">Est-ce une bonne affaire ? </div>
                <div class="data-value">
                    <div class="data-value-content text-center">
                        <% if ( data.deal.good ) { %>
                            <div class="mg-t-20 mg-b-20">
                            </div>
                            <div class="pad-t-10">
                                <span> Oui, foncez ! </span>
                            </div>
                            <% } else { %>
                                <div class="mg-t-20 mg-b-20">
                                </div>
                                <div class="pad-t-10">
                                    <span>Non, vous pouvez trouver mieux !</span>
                                </div>
                                <% } %>
                    </div>
                </div>
            </div>
        </div>
		
		
		
        </div>

        <% } %>
		
</body>

</html>
